main {
    text-align: center;
    font-weight: bold;
    font-size: 2vw;
}

p {
    font-size: 4vw;
}

.bottom-galery div:nth-child(1) {
    background: url(../img/main1.jpg) no-repeat center center;
    background-size: cover;
}

.bottom-galery div:nth-child(2) {
    background: url(../img/main2.jpg) no-repeat center center;
    background-size: cover;
}

.bottom-galery div:nth-child(3) {
    background: url(../img/main3.jpg) no-repeat center center;
    background-size: cover;
}

.bottom-galery div:nth-child(4) {
    background: url(../img/main4.jpg) no-repeat center center;
    background-size: cover;
}