body, html {
    height: 100%;
}

header {
    background: url(../img/ideas_back.jpg);
    filter: blur(3px);
    height: 70vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    font-size: 3em;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    font-family: Podkova-Bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    padding: 20px;
    text-align: center;
}

.sidenav {
    display: none;
}

.button-menu {
    display: none;
}


.bgimg {
    margin: 3em 10vw;
    background-image: url('../img/wait.jpg');
    height: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
    color: white;
    font-family: Podkova-Bold;
    font-size: 25px;
}

.info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

hr {
    margin: auto;
    width: 40%;
}

.bottom-galery div:nth-child(1) {
    background: url(../img/idea1.jpg) no-repeat center center;
}

.bottom-galery div:nth-child(2) {
    background: url(../img/idea2.jpg) no-repeat center center;
}

.bottom-galery div:nth-child(3) {
    background: url(../img/idea3.jpg) no-repeat center center;
}

.bottom-galery div:nth-child(4) {
    background: url(../img/idea4.jpg) no-repeat center center;
}

* {
    box-sizing: border-box;
}

.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    margin: 8vh 30vw;
    max-width: 40vw;
}

h2 {
    margin-top: 0;
    text-align: center;
}

form {
    padding: 20px;
    display: flex;
    flex-direction: column;
}

form > * {
    padding: 12px;
}

.el {
    display: flex;
    align-items: center;
}

input {
    border: none;
    border-radius: 4px;
    margin: 5px 0;
    opacity: 0.85;
    display: inline-block;
    font-size: 17px;
    line-height: 20px;
    text-decoration: none;
    font-family: Neucha;
}

input:hover {
    opacity: 1;
}

label {
    padding-left: 12px;
    word-break: break-word;
}

input[type="checkbox"] {
    transform: scale(1.5);
    margin: 10px;
}

label:hover {
    cursor: pointer;
}

input[type=submit] {
    background-color: #E8A701;
    color: white;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #DA9C00;
}
