body {
	background-color: #ffffff;
	color: #585858;
	padding: 0;
}

nav {
	font-family: Podkova-Bold;
	text-align: center;
}

h1 {
	margin: 0;
	padding: 0.5em 0;
	font-size: 3em;
}

.main-menu {
	list-style: none;
	padding: 0.7em;
	margin: 0;
}

.main-menu li {
	display: inline;
	font-size: 0.9em;
	padding: 0.7em 2em;
	text-transform: uppercase;
}

.main-menu li:hover {
	border-bottom: outset;
}

.delimetr {
	display: flex;
	justify-content: center;
}

.delimetr img {
	width: 70%;
	max-height: 6vw;
}

.main-wrap {
	background-image: url(../img/fon1.jpg);
	padding: 1em 10vw;

}

.main_img {
	background-repeat: no-repeat;
	background-size: cover;
	background-image: url(../img/main.jpg);
	background-size: 100% auto;
}

.img_text {
	width: 100%;
	height: 35vw;
	color: #FFFFFF;
	font-size: 3vw;
	padding: 1em 10em 0 2em;
	box-sizing: border-box;
}

.main_description {
	border-right: ridge;
	border-left: ridge;
	margin-top: 1em;
	padding: 1.5em 10vw;
	font-size: 1.2em;
	text-align: center;
}

.login {
	display: flex;
	background-color: #D8D8D8;
	margin-top: 2vw;
	padding: 2vw 29vw;
	font-family: Podkova-Bold;
	font-size: 1.2em;
}

.login a {
	text-decoration: none;
}

.logreg-button {
	flex: 1;
	width: 20vw;
	padding: 2em;
	box-sizing: border-box;
	text-align: center;
	font-size: 1.2em;
}

.login-button{
	border-top: solid;
	border-bottom: solid;
	margin-right: 1vw;
	color: #585858;
}

.login-button:hover {
	color: #FFFFFF;
}

.register-button {
	flex: 1;
	background-color: #848484;
	margin-left: 1vw;
	color: #FFFFFF;
}

.register-button:hover {
	background-color: #6E6E6E;
}

.description-wrap {
	padding: 0 10vw;
}

.title-description {
	text-align: center;
	font-family: Podkova-Bold;
}

.section-description {
	display: flex;
	margin: 2vw 0;
}

.section-description img {
	flex: 1;
    max-width: 50%;
    max-height: 50%;
    border-radius: 10px;
}

.section-element {
	flex: 1;
	max-width: 50%;
	padding: 2em;
	box-sizing: border-box;
	text-align: center;
	font-size: 1.2em;
}

.bottom-galery div:nth-child(1) {
  background: url(../img/main1.jpg) no-repeat center center;
}

.bottom-galery div:nth-child(2) {
  background: url(../img/main2.jpg) no-repeat center center;
}

.bottom-galery div:nth-child(3) {
  background: url(../img/main3.jpg) no-repeat center center;
}

.bottom-galery div:nth-child(4) {
  background: url(../img/main4.jpg) no-repeat center center;
}